@font-face {
    font-family: 'proxima_nova_regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?fu4hs2');
    src:  url('../fonts/icomoon.eot?fu4hs2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fu4hs2') format('truetype'),
    url('../fonts/icomoon.woff?fu4hs2') format('woff'),
    url('../fonts/icomoon.svg?fu4hs2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e905";
    color: #fff;
}
.icon-share:before {
    content: "\e904";
    color: #390;
}
.icon-close:before {
    content: "\e903";
    color: #fff;
}
.icon-menu:before {
    content: "\e900";
}
.icon-search:before {
    content: "\e901";
    color: #390;
}
.icon-leaf:before {
    content: "\e902";
    color: #390;
}
.icon-play:before {
    content: "\e906";
    color: #390;
}
.icon-home:before {
    content: "\e907";
    color: #390;
}
.icon-phone:before {
    content: "\e908";
    color: #390;
}
.icon-facebook:before {
    content: "\e911";
    color: #390;
}
.icon-instagram:before {
    content: "\e912";
    color: #390;
}
.icon-youtube:before {
    content: "\e913";
    color: #48a41a;
}
.icon-google-plus:before {
    content: "\e914";
    color: #3f9f0f;
}
.icon-twitter:before {
    content: "\e915";
    color: #390;
}
.icon-right-arrow:before {
    content: "\e916";
    color: #390;
}
.icon-shipped:before {
    content: "\e91e";
    color: #3f9f0f;
}
.icon-circular-arrow:before {
    content: "\e91f";
    color: #3f9f0f;
}
.icon-support:before {
    content: "\e920";
    color: #390;
}
.icon-phone-call:before {
    content: "\e921";
    color: #fff;
}