@import url("fonts.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700");
/* line 10, ../sass/main.scss */
html,
body {
  height: 100%;
  font-family: "proxima_nova_regular";
}

/* line 15, ../sass/main.scss */
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 23, ../sass/main.scss */
* {
  outline: 0px !important;
  font-family: "proxima_nova_regular";
  box-sizing: border-box;
}

/* line 28, ../sass/main.scss */
*:focus,
*:active {
  outline: 0px !important;
  text-shadow: none;
  box-shadow: none !important;
}

/* line 34, ../sass/main.scss */
a:hover {
  text-decoration: none;
}

/* line 37, ../sass/main.scss */
a:focus {
  outline: 0px !important;
}

/* line 40, ../sass/main.scss */
#content {
  min-height: auto;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
/* line 82, ../sass/main.scss */
.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* line 94, ../sass/main.scss */
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}

/* line 101, ../sass/main.scss */
header {
  padding: 20px 0 21px;
  flex: 0 0 auto;
  margin-bottom: 18px;
}

/* line 107, ../sass/main.scss */
.common-home header {
  margin-bottom: 0;
}

/* line 111, ../sass/main.scss */
.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
}

/* line 118, ../sass/main.scss */
.mfp-close:hover {
  cursor: pointer !important;
}

/* line 122, ../sass/main.scss */
footer {
  flex: 0 0 auto;
  background-color: #282828;
  padding: 30px 0 15px;
}

/* line 127, ../sass/main.scss */
.slick-slider {
  opacity: 0;
}
/* line 129, ../sass/main.scss */
.slick-slider > .item:not(:first-child) {
  display: none;
}
/* line 132, ../sass/main.scss */
.slick-slider.slick-initialized {
  opacity: 1;
}

/* line 136, ../sass/main.scss */
.slick-slider {
  opacity: 0;
}
/* line 138, ../sass/main.scss */
.slick-slider > .item:not(:first-child) {
  display: none !important;
}

/* line 142, ../sass/main.scss */
.slick-slider.slick-initialized {
  opacity: 1;
}

/* line 145, ../sass/main.scss */
.wrapper_big-slider > .item:not(:first-child) {
  display: none !important;
}

/* line 148, ../sass/main.scss */
body {
  font-family: "proxima_nova_regular";
}

/* line 153, ../sass/main.scss */
header .flex-wrapper {
  min-height: 66px;
}
/* line 156, ../sass/main.scss */
header .flex-container {
  display: flex;
  align-items: center;
}

/* line 162, ../sass/main.scss */
.category-block {
  background-color: #f5f6f8;
}
/* line 166, ../sass/main.scss */
.category-block ul li a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  padding: 17px 0;
}

/* line 180, ../sass/main.scss */
.navbar {
  margin-bottom: 0;
}

/* line 183, ../sass/main.scss */
.navbar-collapse {
  padding: 0;
}

/* line 186, ../sass/main.scss */
.flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 192, ../sass/main.scss */
.ninja-btn {
  margin-right: 58px;
  position: relative;
  z-index: 2;
}
/* line 196, ../sass/main.scss */
.ninja-btn i {
  font-size: 25px;
}
/* line 198, ../sass/main.scss */
.ninja-btn i.icon-close {
  visibility: hidden;
  opacity: 0;
  display: none;
}
/* line 204, ../sass/main.scss */
.ninja-btn:hover {
  cursor: pointer;
}

/* line 211, ../sass/main.scss */
.menu-open .ninja-btn i.icon-close {
  visibility: visible;
  opacity: 1;
  display: block;
}
/* line 216, ../sass/main.scss */
.menu-open .ninja-btn i.icon-menu {
  visibility: hidden;
  opacity: 0;
  display: none;
}

/* line 228, ../sass/main.scss */
.phone span {
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
  margin-right: 15px;
}
/* line 239, ../sass/main.scss */
.phone a {
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-right: 15px;
}

/* line 251, ../sass/main.scss */
.items-help_elements {
  font-size: 22px;
  line-height: 20px;
  margin-left: 41px;
}

/* line 257, ../sass/main.scss */
#search .search_block_content {
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0;
  z-index: -1;
  margin-right: 15px;
}
/* line 268, ../sass/main.scss */
#search .search_block_content input {
  padding: 15px 55px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  min-width: 380px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b3b3b3;
  height: 50px;
  min-height: 50px;
  line-height: 50px;
  box-shadow: none;
}
/* line 286, ../sass/main.scss */
#search .search_block_content:before {
  content: "\e901";
  position: absolute;
  left: 15px;
  color: #b3b3b3;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 305, ../sass/main.scss */
#search .icon-search {
  font-size: 25px;
}
/* line 308, ../sass/main.scss */
#search .button-ok {
  display: none;
}

/* line 312, ../sass/main.scss */
.open #search .search_block_content {
  opacity: 1;
  z-index: 10;
  padding-right: 5px;
}

/* line 318, ../sass/main.scss */
#button-search {
  margin-bottom: 40px;
}

/* line 322, ../sass/main.scss */
.product-search .checkbox-inline {
  margin-top: 10px;
  padding: 0;
}

/* line 329, ../sass/main.scss */
.open #search .button-ok {
  display: block;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #48a41a;
  color: #48a41a;
  text-align: center;
  line-height: 50px;
}
/* line 339, ../sass/main.scss */
.open #search .icon-search {
  display: none;
}

/* line 343, ../sass/main.scss */
.flex-right {
  justify-content: flex-end;
}

/* line 346, ../sass/main.scss */
.big-slider {
  margin-bottom: 90px;
}

/* line 350, ../sass/main.scss */
.wrapper_big-slider .item {
  position: relative;
}
/* line 352, ../sass/main.scss */
.wrapper_big-slider .item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
}
/* line 361, ../sass/main.scss */
.wrapper_big-slider .item .text-info {
  position: absolute;
  display: block;
  top: 54%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 369, ../sass/main.scss */
.wrapper_big-slider .item .text-info .banner_title {
  margin-bottom: 60px;
}
/* line 371, ../sass/main.scss */
.wrapper_big-slider .item .text-info .banner_title h2 {
  font-size: 48px;
  font-family: "proxima_nova_bold";
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: relative;
  margin-bottom: 33px;
  text-transform: uppercase;
  line-height: 58px;
}
/* line 384, ../sass/main.scss */
.wrapper_big-slider .item .text-info .banner_title h2:before {
  content: '';
  display: block;
  width: 166px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 397, ../sass/main.scss */
.wrapper_big-slider .item .text-info .banner_title p {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* line 413, ../sass/main.scss */
.btn-default {
  display: flex;
  width: 240px;
  height: 60px;
  border-radius: 35px;
  background-color: transparent;
  border: solid 1px #339900;
  color: #339900;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}
/* line 436, ../sass/main.scss */
.btn-default span {
  position: relative;
  z-index: 1;
}
/* line 440, ../sass/main.scss */
.btn-default:before {
  background-color: rgba(52, 159, 8, 0.5);
}
/* line 443, ../sass/main.scss */
.btn-default:after {
  background-color: #349f08;
}
/* line 446, ../sass/main.scss */
.btn-default:before, .btn-default:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
/* line 462, ../sass/main.scss */
.btn-default:hover {
  color: #fff;
  border-color: #fff !important;
}
/* line 465, ../sass/main.scss */
.btn-default:hover:before, .btn-default:hover:after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* line 470, ../sass/main.scss */
.btn-default:hover:after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}
/* line 475, ../sass/main.scss */
.btn-default.btn-white {
  background-color: transparent;
  border: solid 1px #ffffff;
  color: #fff;
}
/* line 479, ../sass/main.scss */
.btn-default.btn-white:before {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 482, ../sass/main.scss */
.btn-default.btn-white:after {
  background-color: #ffff;
}
/* line 485, ../sass/main.scss */
.btn-default.btn-white:hover {
  border-color: #fff !important;
  color: #1a1a1a;
}

/* line 492, ../sass/main.scss */
.common-home .product-layout {
  margin-bottom: 90px;
}

/* line 496, ../sass/main.scss */
.product-layout {
  margin-bottom: 45px;
}

/* line 499, ../sass/main.scss */
.btn-default:hover {
  border-color: #349f08 !important;
  background-color: transparent;
}

/* line 503, ../sass/main.scss */
h1,
h2 {
  font-family: "proxima_nova_regular";
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  margin: 0;
  margin-bottom: 100px;
  position: relative;
}
/* line 517, ../sass/main.scss */
h1:before,
h2:before {
  content: "\e902";
  color: #390;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 30px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  bottom: -46px;
  left: 0;
  right: 0;
}

/* line 537, ../sass/main.scss */
.nav > li {
  overflow: hidden;
  margin: 0 15px;
}
/* line 540, ../sass/main.scss */
.nav > li:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #349f08;
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
}

/* line 552, ../sass/main.scss */
.nav > li:hover:before {
  transform: translateX(0);
}

/* line 557, ../sass/main.scss */
.active-menu li.activeCSS:before {
  transform: translateX(0);
}

/* line 561, ../sass/main.scss */
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}

/* line 565, ../sass/main.scss */
.wrapper-category_home {
  background-color: #f5f6f8;
  margin-bottom: 90px;
}
/* line 568, ../sass/main.scss */
.wrapper-category_home .item {
  border-right: 1px solid #fff;
  transition: box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
}
/* line 572, ../sass/main.scss */
.wrapper-category_home .item a {
  padding: 25px 25px 30px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  color: #808080;
  display: block;
}
/* line 583, ../sass/main.scss */
.wrapper-category_home .item a img {
  display: block;
  margin: 0 auto 30px;
}
/* line 587, ../sass/main.scss */
.wrapper-category_home .item a:hover {
  text-decoration: none;
}
/* line 591, ../sass/main.scss */
.wrapper-category_home .item:hover {
  box-shadow: 0 0 10px 0 #b3b3b3;
}

/* line 597, ../sass/main.scss */
.container-product {
  margin-bottom: 90px;
}

/* line 601, ../sass/main.scss */
.product-thumb .image {
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f6f8;
  margin-bottom: 16px;
  cursor: pointer;
  transition: box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
}
/* line 612, ../sass/main.scss */
.product-thumb .caption {
  text-align: center;
}
/* line 614, ../sass/main.scss */
.product-thumb .caption a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
}
/* line 623, ../sass/main.scss */
.product-thumb .caption a .price {
  margin-top: 15px;
}
/* line 625, ../sass/main.scss */
.product-thumb .caption a .price span {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
}
/* line 640, ../sass/main.scss */
.product-thumb:hover .image:hover {
  box-shadow: 0 0 10px 0 #b3b3b3;
  transform: scale(1.02) translateY(-0.5rem);
}

/* line 649, ../sass/main.scss */
.news-ncategory .news-category .news-block {
  margin-bottom: 50px;
}

/* line 656, ../sass/main.scss */
.news-block .position-date {
  margin-bottom: 15px;
}
/* line 658, ../sass/main.scss */
.news-block .position-date a {
  position: relative;
  overflow: hidden;
}
/* line 661, ../sass/main.scss */
.news-block .position-date a:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
}
/* line 672, ../sass/main.scss */
.news-block .position-date a:hover:before {
  transform: translateX(0);
}
/* line 678, ../sass/main.scss */
.news-block a {
  display: block;
}
/* line 680, ../sass/main.scss */
.news-block a span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #339900;
  display: block;
  margin-bottom: 15px;
}
/* line 692, ../sass/main.scss */
.news-block a .name-news {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

/* line 704, ../sass/main.scss */
.wrapper-news {
  margin-bottom: 90px;
}

/* line 707, ../sass/main.scss */
.wrapper-info {
  background-color: #f5f6f8;
  margin-bottom: 90px;
}
/* line 712, ../sass/main.scss */
.wrapper-info .col-md-4:last-child .info-items {
  border: 0;
}
/* line 717, ../sass/main.scss */
.wrapper-info .info-items {
  display: flex;
  align-items: center;
  padding: 20px 0 29px;
  border-right: 1px solid #e6e6e6;
}
/* line 722, ../sass/main.scss */
.wrapper-info .info-items .img-wrapper {
  margin-right: 29.2px;
}
/* line 724, ../sass/main.scss */
.wrapper-info .info-items .img-wrapper i {
  font-size: 42px;
}
/* line 729, ../sass/main.scss */
.wrapper-info .info-items .text-info h3 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
}
/* line 739, ../sass/main.scss */
.wrapper-info .info-items .text-info p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
}

/* line 752, ../sass/main.scss */
.footer-title {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* line 766, ../sass/main.scss */
footer .list-unstyled li {
  margin-bottom: 15px;
}
/* line 768, ../sass/main.scss */
footer .list-unstyled li a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
/* line 777, ../sass/main.scss */
footer .list-unstyled li a:hover {
  color: #339900;
}
/* line 783, ../sass/main.scss */
footer img {
  margin-bottom: 30px;
}
/* line 786, ../sass/main.scss */
footer .mail-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
/* line 790, ../sass/main.scss */
footer .mail-container a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
/* line 802, ../sass/main.scss */
footer .footer-info ul {
  padding: 0;
}
/* line 804, ../sass/main.scss */
footer .footer-info ul li {
  float: left;
  list-style: none;
  margin-right: 15px;
}
/* line 808, ../sass/main.scss */
footer .footer-info ul li:last-child {
  margin-right: 0;
}
/* line 811, ../sass/main.scss */
footer .footer-info ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px #339900;
  border-radius: 50%;
  transition: .3s;
}
/* line 828, ../sass/main.scss */
footer p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
/* line 837, ../sass/main.scss */
footer p i {
  font-size: 15px;
  margin-right: 10px;
}
/* line 843, ../sass/main.scss */
footer .list-unstyled .phone-wrapper {
  display: flex;
}
/* line 845, ../sass/main.scss */
footer .list-unstyled .phone-wrapper i {
  margin-right: 15px;
}
/* line 849, ../sass/main.scss */
footer .list-unstyled a {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 15px;
}
/* line 860, ../sass/main.scss */
footer .list-unstyled a i {
  font-size: 15px;
  margin-right: 10px;
}
/* line 868, ../sass/main.scss */
footer .text-right a img {
  margin-bottom: 0;
}

/* line 875, ../sass/main.scss */
footer hr {
  border: 1px solid #4d4d4d;
}

/* line 879, ../sass/main.scss */
hr {
  border: solid 1px #e6e6e6;
}

/* line 882, ../sass/main.scss */
.news-block {
  margin-bottom: 70px;
}

/* line 886, ../sass/main.scss */
.text ul {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 102px;
}
/* line 893, ../sass/main.scss */
.text ul li {
  width: 40px;
  height: 40px;
  list-style: none;
  margin-bottom: 20px;
}
/* line 898, ../sass/main.scss */
.text ul li:last-child {
  margin-bottom: 0;
}
/* line 901, ../sass/main.scss */
.text ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px #339900;
  border-radius: 50%;
  transition: .3s;
  margin-top: 0;
}
/* line 911, ../sass/main.scss */
.text ul li a i {
  font-size: 18px;
  margin: 0;
}
/* line 915, ../sass/main.scss */
.text ul li a:hover {
  transform: scale(1.2) translateY(0rem);
  opacity: 1;
}
/* line 921, ../sass/main.scss */
.text ul:before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 83px;
  background-color: #3f9f0f;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 934, ../sass/main.scss */
.text p {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
  margin-bottom: 30px;
}
/* line 945, ../sass/main.scss */
.text a {
  display: flex;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #339900;
  margin-top: 50px;
  align-items: center;
}
/* line 957, ../sass/main.scss */
.text a i {
  font-size: 40px;
  margin-right: 15px;
}
/* line 961, ../sass/main.scss */
.text a:hover {
  text-decoration: none;
  opacity: 0.5;
}

/* line 968, ../sass/main.scss */
.navbar-nav {
  width: 100%;
  float: none;
  display: flex;
  justify-content: flex-start;
}

/* line 974, ../sass/main.scss */
.about-company_wrapper {
  position: relative;
  margin-bottom: 52px;
}
/* line 977, ../sass/main.scss */
.about-company_wrapper:before {
  content: '';
  background-image: url("/image/catalog/bitmap_2.png");
  width: 100%;
  height: 180px;
  background-position: top left;
  background-repeat: no-repeat;
  position: absolute;
  left: 14.5%;
  top: 0;
}
/* line 988, ../sass/main.scss */
.about-company_wrapper:after {
  content: '';
  background-image: url("/image/catalog/bitmap_3.png");
  width: 315px;
  height: 253px;
  background-position: bottom right;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 1000, ../sass/main.scss */
.container-product {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 90px;
}
/* line 1004, ../sass/main.scss */
.container-product:before {
  content: '';
  background-image: url("/image/catalog/bitmap_3.png");
  width: 315px;
  height: 253px;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 1016, ../sass/main.scss */
.container-product:after {
  content: '';
  background-image: url("/image/catalog/bitmap_2.png");
  width: 100%;
  height: 180px;
  background-position: top right;
  background-repeat: no-repeat;
  position: absolute;
  right: 12%;
  top: 0;
}

/* line 1028, ../sass/main.scss */
.menu-black {
  width: 100%;
  height: 171px;
  background-color: #282828;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  padding: 20px 0 21px;
  z-index: 1;
}
/* line 1038, ../sass/main.scss */
.menu-open .menu-black {
  transform: translateX(0);
}
/* line 1041, ../sass/main.scss */
.menu-black img {
  width: 100%;
  margin-bottom: 25px;
}
/* line 1045, ../sass/main.scss */
.menu-black ul {
  margin: 0;
  list-style: none;
  padding: 0;
  float: left;
}
/* line 1050, ../sass/main.scss */
.menu-black ul li {
  float: left;
  padding-right: 20px;
}
/* line 1053, ../sass/main.scss */
.menu-black ul li a {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #b3b3b3;
}
/* line 1062, ../sass/main.scss */
.menu-black ul li a:focus, .menu-black ul li a:active, .menu-black ul li a:hover {
  color: #339900;
  text-decoration: none;
}
/* line 1072, ../sass/main.scss */
.menu-black ul.list-inline li a {
  text-transform: uppercase;
  text-decoration: none;
}
/* line 1075, ../sass/main.scss */
.menu-black ul.list-inline li a:focus, .menu-black ul.list-inline li a:active, .menu-black ul.list-inline li a:hover {
  color: #339900;
  text-decoration: none;
}
/* line 1083, ../sass/main.scss */
.menu-black ul.list-inline li.active a {
  color: #339900;
}
/* line 1090, ../sass/main.scss */
.menu-black .wrapper-language {
  float: right;
}

/* line 1094, ../sass/main.scss */
.galery-block {
  background-color: #f5f6f8;
  padding: 90px 0;
  margin-bottom: 0;
}

/* line 1099, ../sass/main.scss */
.galery-list {
  margin-bottom: 45px;
}

/* line 1102, ../sass/main.scss */
.products_row-btn {
  position: absolute;
  top: -75%;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 0;
  color: #1a1a1a;
  line-height: 50px;
  transform: translate(0, 75%);
  border: 0;
}
/* line 1115, ../sass/main.scss */
.products_row-btn:hover {
  color: #339900;
}

/* line 1120, ../sass/main.scss */
.products_row-prev_btn {
  left: 20%;
  transform: translate(0, 75%) rotate(-180deg);
}

/* line 1124, ../sass/main.scss */
.products_row-next_btn {
  right: 20%;
  z-index: 1;
}

/* line 1128, ../sass/main.scss */
.cls-1 {
  fill: #282828;
}

/* line 1131, ../sass/main.scss */
.cls-2 {
  fill: #5d8412;
}

/* line 1135, ../sass/main.scss */
.letter {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}

/* line 1140, ../sass/main.scss */
.letter-svg {
  margin: 0 auto;
  position: relative;
  display: block;
}

/* line 1146, ../sass/main.scss */
.common-home .category-block {
  margin-bottom: 0px;
}

/* line 1150, ../sass/main.scss */
.category-block {
  margin-bottom: 20px;
}

/* line 1153, ../sass/main.scss */
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 57px;
}
/* line 1157, ../sass/main.scss */
.breadcrumb li {
  font-family: "proxima_nova_regular";
}
/* line 1159, ../sass/main.scss */
.breadcrumb li a {
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #339900;
}
/* line 1168, ../sass/main.scss */
.breadcrumb li a span {
  color: #339900;
  font-weight: 600;
}
/* line 1173, ../sass/main.scss */
.breadcrumb li span {
  font-weight: normal;
  color: #1a1a1a;
}

/* line 1180, ../sass/main.scss */
.breadcrumb > li + li:before {
  padding: 0;
  color: #339900;
  content: "/\00a0";
}

/* line 1185, ../sass/main.scss */
.href-wrapper {
  display: block;
}

/* line 1188, ../sass/main.scss */
.wrapper-category_img {
  background-color: #f5f6f8;
  padding: 60px;
  position: relative;
  min-height: 360px;
  margin-bottom: 40px;
  display: block;
}
/* line 1195, ../sass/main.scss */
.wrapper-category_img h2,
.wrapper-category_img h1 {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  position: relative;
  margin: 0;
}
/* line 1207, ../sass/main.scss */
.wrapper-category_img h2:before,
.wrapper-category_img h1:before {
  content: '';
  display: block;
  background-color: #339900;
  width: 45px;
  height: 1px;
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 1218, ../sass/main.scss */
.wrapper-category_img .image-items {
  position: absolute;
  right: 46px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 1223, ../sass/main.scss */
.wrapper-category_img:before {
  content: '';
  background-image: url("/image/catalog/woodi.png");
  width: 52%;
  height: 233px;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 1235, ../sass/main.scss */
.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

/* line 1240, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #339900;
}

/* line 1248, ../sass/main.scss */
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}

/* line 1252, ../sass/main.scss */
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #e6e6e6;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}

/* line 1267, ../sass/main.scss */
.form-checkbox__marker:after {
  position: absolute;
  content: '';
  left: 14%;
  top: 18%;
  height: 40%;
  width: 72%;
  border-bottom: 1px solid #339900;
  border-left: 1px solid #339900;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}

/* line 1279, ../sass/main.scss */
.form-checkbox__label span,
.form-checkbox__label {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

/* line 1290, ../sass/main.scss */
label.mfilter-tb-as-td {
  display: flex;
  align-items: center;
}

/* line 1294, ../sass/main.scss */
.iScrollIndicator {
  background: #e8e9eb none repeat scroll 0% 0% !important;
}

/* line 1297, ../sass/main.scss */
.results-text {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
}

/* line 1308, ../sass/main.scss */
#mfilter-content-container .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* line 1315, ../sass/main.scss */
.control-label {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
}

/* line 1325, ../sass/main.scss */
.select2-container--default .select2-selection--single {
  border-radius: 5px;
  border: solid 1px #e6e6e6;
}

/* line 1329, ../sass/main.scss */
.select2-container {
  width: 263px !important;
}

/* line 1332, ../sass/main.scss */
.select2-container .select2-selection--single {
  min-width: 263px !important;
  padding: 0 15px;
  height: 40px;
}

/* line 1337, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  line-height: 40px;
}

/* line 1347, ../sass/main.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  position: absolute;
  top: 1px;
  right: 15px;
  width: 20px;
  line-height: 40px;
  font-size: 15px;
}

/* line 1356, ../sass/main.scss */
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 50px;
}

/* line 1364, ../sass/main.scss */
.pagination li {
  padding: 0px 5px;
}

/* line 1367, ../sass/main.scss */
.pagination li.not_active span:hover {
  background-color: transparent;
}

/* line 1370, ../sass/main.scss */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 0;
  border: 0;
}

/* line 1375, ../sass/main.scss */
.pagination li.not_active span {
  font-size: 16px;
  text-align: left;
  border-radius: 0px;
  color: #999999 !important;
  border: 0px;
}

/* line 1382, ../sass/main.scss */
.pagination li.next a,
.pagination li.next span,
.pagination li.prev a,
.pagination li.prev span {
  font-size: 16px;
  text-align: left;
  color: #339900;
  border-radius: 0px;
  border: 0px;
}

/* line 1392, ../sass/main.scss */
.pagination li.next a:hover,
.pagination li.next span:hover,
.pagination li.prev a:hover,
.pagination li.prev span:hover {
  border: 0;
  color: #339900;
  background-color: #fff;
}

/* line 1400, ../sass/main.scss */
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #1a1a1a;
  border: 0;
  text-decoration: none;
  background-color: #fff;
}

/* line 1412, ../sass/main.scss */
.pagination li a {
  float: none;
  font-size: 16px;
  color: #1a1a1a;
  padding: 0px;
  height: 25px;
  min-width: 25px;
  border-radius: 0;
  text-align: center;
  border: 0;
  display: block;
}

/* line 1424, ../sass/main.scss */
.pagination li a:focus,
.pagination li a:active,
.pagination li a:hover {
  color: #339900;
  background-color: #fff;
}

/* line 1431, ../sass/main.scss */
.pagination li.active span {
  padding: 0px;
  height: 25px;
  min-width: 25px;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
  color: #339900;
  border: 0;
  background-color: transparent;
}

/* line 1443, ../sass/main.scss */
.pagination li.active span:hover {
  background-color: transparent;
}

/* line 1447, ../sass/main.scss */
.pagination li i {
  margin: 0 5px;
  line-height: 16px;
  font-size: 16px;
}

/* line 1452, ../sass/main.scss */
.prev {
  transform: translate(0, -15%) rotate(-180deg);
}
/* line 1455, ../sass/main.scss */
.prev a i {
  color: #339900;
}

/* line 1462, ../sass/main.scss */
.next a i {
  color: #339900;
}

/* line 1467, ../sass/main.scss */
.next.not_active,
.prev.not_active {
  display: none;
}

/* line 1471, ../sass/main.scss */
.btn-callphone {
  width: 45px;
  height: 45px;
  background-color: #339900;
  border-radius: 50%;
  border: 0;
}
/* line 1477, ../sass/main.scss */
.btn-callphone:hover {
  background-color: #339900;
}

/* line 1482, ../sass/main.scss */
.open .btn-callphone {
  background-color: #fff;
}
/* line 1484, ../sass/main.scss */
.open .btn-callphone i {
  color: #282828;
}
/* line 1487, ../sass/main.scss */
.open .btn-callphone:hover {
  background-color: #339900;
}
/* line 1492, ../sass/main.scss */
.open .callback .callback_b,
.open .callback .callback_a {
  border-color: #fff;
}

/* line 1499, ../sass/main.scss */
.modal-dialog .modal-content {
  background-color: #f5f6f8;
  padding: 60px 30px;
}
/* line 1502, ../sass/main.scss */
.modal-dialog .modal-content .modal-header {
  border: 0;
}
/* line 1504, ../sass/main.scss */
.modal-dialog .modal-content .modal-header h2 {
  margin-bottom: 60px;
}
/* line 1508, ../sass/main.scss */
.modal-dialog .modal-content .close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 15px;
  opacity: 1;
}
/* line 1514, ../sass/main.scss */
.modal-dialog .modal-content .close span:before {
  color: #1a1a1a !important;
}

/* line 1520, ../sass/main.scss */
.modal-sm {
  width: 420px;
}

/* line 1523, ../sass/main.scss */
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 1530, ../sass/main.scss */
textarea.form-control,
input.form-control {
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
}
/* line 1536, ../sass/main.scss */
textarea.form-control:focus,
input.form-control:focus {
  border: solid 1px #e6e6e6;
}

/* line 1540, ../sass/main.scss */
textarea.form-control {
  resize: none !important;
  height: 125px;
}

/* line 1544, ../sass/main.scss */
.callback {
  background: #339900;
  border-radius: 50% !important;
  bottom: 50px;
  height: 45px;
  position: fixed;
  right: 30px;
  width: 45px;
  z-index: 9999;
  cursor: pointer;
}
/* line 1554, ../sass/main.scss */
.callback button {
  padding: 0;
}
/* line 1557, ../sass/main.scss */
.callback i {
  font-size: 20px;
  line-height: 45px;
}

/* line 1563, ../sass/main.scss */
.callback:hover {
  animation: 1.5s linear 0s normal none infinite running callback_anim;
}

/* line 1567, ../sass/main.scss */
.callback:hover .callback_b, .callback:hover .callback_a {
  background-color: #339900;
  border-color: #339900;
}

/* line 1572, ../sass/main.scss */
.callback .callback_block {
  height: 45px;
  position: absolute;
  width: 45px;
}

/* line 1578, ../sass/main.scss */
.callback .callback_a {
  -webkit-animation: callback 3s linear 0s infinite;
  -moz-animation: callback 3s linear 0s infinite;
  animation: callback 3s linear 0s infinite;
  background-color: transparent;
  border: 2px solid #339900;
  border-radius: 100% !important;
  bottom: 18px;
  box-sizing: border-box;
  height: 100px;
  opacity: 0.01;
  position: absolute;
  right: -28px;
  width: 100px;
  z-index: 1;
}

/* line 1595, ../sass/main.scss */
.callback .callback_b {
  -webkit-animation: callback 1.5s linear 0s infinite;
  -moz-animation: callback 1.5s linear 0s infinite;
  animation: callback 1.5s linear 0s infinite;
  background-color: transparent;
  border: 2px solid #339900;
  border-radius: 100% !important;
  bottom: 18px;
  box-sizing: border-box;
  height: 100px;
  opacity: 0.01;
  position: absolute;
  right: -28px;
  width: 100px;
  z-index: 1;
}

/* line 1611, ../sass/main.scss */
.price-old {
  font-size: 12px;
  opacity: 0.5;
  text-decoration: line-through;
}

/* line 1617, ../sass/main.scss */
.product-title h1 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  margin-bottom: 30px;
}
/* line 1627, ../sass/main.scss */
.product-title h1:before {
  display: none;
}

/* line 1632, ../sass/main.scss */
.price-wrapper {
  margin-bottom: 30px;
}
/* line 1634, ../sass/main.scss */
.price-wrapper .price {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  margin-right: 15px;
  display: inline-block;
}
/* line 1647, ../sass/main.scss */
.price-wrapper .price-old {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: center;
  color: #808080;
}

/* line 1658, ../sass/main.scss */
.description_wrapper_mini {
  margin-bottom: 30px;
}

/* line 1661, ../sass/main.scss */
.copyContainer {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
  opacity: 0.8;
}

/* line 1672, ../sass/main.scss */
.description_wrapper {
  margin-bottom: 60px;
}

/* line 1675, ../sass/main.scss */
.option-wrapper .form-group {
  position: relative;
}
/* line 1677, ../sass/main.scss */
.option-wrapper .form-group .text-danger {
  position: absolute;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -15px;
}

/* line 1687, ../sass/main.scss */
.option-wrapper .opt_wrapp,
.option-wrapper .form-group {
  display: flex;
}
/* line 1691, ../sass/main.scss */
.option-wrapper .form-group {
  margin-bottom: 45px;
}
/* line 1694, ../sass/main.scss */
.option-wrapper .control-label {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  margin-right: 30px;
  margin-bottom: 0;
}

/* line 1707, ../sass/main.scss */
.opt_wrapp.size_opt label {
  min-width: 70px;
  background-color: transparent;
  font-size: 14px;
  text-align: center;
  color: #1a1a1a;
  opacity: 0.8;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}

/* line 1720, ../sass/main.scss */
.product-page .radio input {
  display: none;
}

/* line 1723, ../sass/main.scss */
.product-page .radio {
  margin: 0 20px 0 0;
}

/* line 1727, ../sass/main.scss */
.radio-image label {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  border: solid 1px #e6e6e6 !important;
  overflow: hidden;
}
/* line 1734, ../sass/main.scss */
.radio-image label img {
  width: 100%;
  padding: 0;
  border-radius: 50%;
}

/* line 1741, ../sass/main.scss */
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

/* line 1756, ../sass/main.scss */
.nav-tabs > li > a {
  color: #808080;
  padding: 10px 0 20px;
}

/* line 1760, ../sass/main.scss */
.article-tabs {
  margin-bottom: 30px;
}
/* line 1763, ../sass/main.scss */
.article-tabs li:first-child {
  margin-left: 0;
}

/* line 1769, ../sass/main.scss */
.nav-tabs > li.active:before {
  transform: translateX(0);
}

/* line 1773, ../sass/main.scss */
.nav-tabs {
  border: 0;
}

/* line 1777, ../sass/main.scss */
.product-page .zoo-item,
.product-page .item {
  background-color: #f5f6f8;
}
/* line 1780, ../sass/main.scss */
.product-page .zoo-item img,
.product-page .item img {
  width: 100%;
}

/* line 1786, ../sass/main.scss */
.thumbnails {
  margin-bottom: 30px;
}

/* line 1794, ../sass/main.scss */
.thumbnails-mini {
  margin-bottom: 60px;
}
/* line 1796, ../sass/main.scss */
.thumbnails-mini .item {
  margin-right: 30px;
  background-color: #f5f6f8;
}
/* line 1803, ../sass/main.scss */
.thumbnails-mini .slick-list {
  padding: 0 !important;
}

/* line 1807, ../sass/main.scss */
.icon_wrapp {
  display: flex;
  background-color: #fff;
  position: absolute;
  top: 5px;
  width: 100%;
  transform: translateX(-102%);
  transition: transform 0.8s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  z-index: 9;
}
/* line 1817, ../sass/main.scss */
.icon_wrapp .share_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px #339900;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}
/* line 1828, ../sass/main.scss */
.icon_wrapp .share_item a {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 1836, ../sass/main.scss */
.share_wrapp {
  float: right;
  overflow: hidden;
  position: relative;
}
/* line 1840, ../sass/main.scss */
.share_wrapp .text {
  padding: 5px 0;
  line-height: 40px;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #339900;
  cursor: pointer;
}
/* line 1851, ../sass/main.scss */
.share_wrapp .text i {
  display: block;
  width: 40px;
  height: 40px;
  border: solid 1px #339900;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  float: left;
  margin-right: 20px;
}
/* line 1865, ../sass/main.scss */
.share_wrapp.active .icon_wrapp {
  transform: translateX(0);
}

/* line 1870, ../sass/main.scss */
.short-btn {
  float: left;
  width: 263px;
}

/* line 1874, ../sass/main.scss */
.margin-option {
  margin-bottom: 94px !important;
}

/* line 1879, ../sass/main.scss */
.modal-content h2 {
  margin-bottom: 70px;
}

/* line 1883, ../sass/main.scss */
#tab-review .reviewStars-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  margin-top: 16px;
}

/* line 1896, ../sass/main.scss */
#tab-review .reviewStars-input input {
  display: none;
}

/* line 1899, ../sass/main.scss */
#tab-review .reviewStars-input label {
  font-size: 10px;
  text-align: center;
  color: #808080;
  position: relative;
  margin: 0px;
  padding: 20px 5px 0px 5px;
  width: 70px;
  cursor: pointer;
}

/* line 1909, ../sass/main.scss */
#tab-review .reviewStars-input label:before {
  position: absolute;
  content: '\f006';
  font-family: FontAwesome;
  color: #666;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: normal;
}

/* line 1920, ../sass/main.scss */
#tab-review #form-review .text_write {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #1a1a1a;
}

/* line 1927, ../sass/main.scss */
.catalog-links h3 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 60px;
}

/* line 1940, ../sass/main.scss */
.information-information .wrapper-info {
  margin: 60px 0;
}
/* line 1943, ../sass/main.scss */
.information-information .about-company_wrapper {
  margin-bottom: 1px;
}

/* line 1948, ../sass/main.scss */
.wrapper-banner_about {
  position: relative;
  border: 1px solid #fff;
}
/* line 1951, ../sass/main.scss */
.wrapper-banner_about a {
  position: relative;
  display: block;
  padding: 0 1px;
}
/* line 1955, ../sass/main.scss */
.wrapper-banner_about a:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 1967, ../sass/main.scss */
.wrapper-banner_about p {
  padding: 0 60px;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

/* line 1983, ../sass/main.scss */
.service-category {
  margin-bottom: 60px;
}
/* line 1985, ../sass/main.scss */
.service-category .news-block {
  background-color: #f5f6f8;
  margin-bottom: 30px;
}
/* line 1988, ../sass/main.scss */
.service-category .news-block .position-date {
  padding: 35px 32px;
  border-bottom: 1px solid  #e6e6e6;
  margin-bottom: 0px;
}
/* line 1992, ../sass/main.scss */
.service-category .news-block .position-date img {
  width: 100%;
}
/* line 1996, ../sass/main.scss */
.service-category .news-block .position-date a:before {
  display: none;
}
/* line 2002, ../sass/main.scss */
.service-category .news-block .container-name {
  display: flex;
  min-height: 132px;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
/* line 2008, ../sass/main.scss */
.service-category .news-block .container-name p {
  text-align: center;
  margin-bottom: 0;
}

/* line 2015, ../sass/main.scss */
.alert-info {
  margin: 20px 0;
}

/* line 2018, ../sass/main.scss */
.viewed-product {
  border-top: solid 1px #e6e6e6;
  padding: 60px 0;
}
/* line 2021, ../sass/main.scss */
.viewed-product .products_row-btn {
  top: -23%;
  transform: translate(0, 23%);
}
/* line 2025, ../sass/main.scss */
.viewed-product .products_row-btn i:before {
  color: #1a1a1a;
}
/* line 2030, ../sass/main.scss */
.viewed-product .products_row-prev_btn {
  left: 20%;
  transform: translate(0, 23%) rotate(-180deg);
}
/* line 2034, ../sass/main.scss */
.viewed-product h2 {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  margin-bottom: 60px;
}
/* line 2044, ../sass/main.scss */
.viewed-product h2:before {
  display: none;
}

/* line 2051, ../sass/main.scss */
.description_wrapper_mini p,
#tab-description p {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
}

/* line 2062, ../sass/main.scss */
#tab-review .reviewStars-input input:checked + label {
  color: #349f08;
}

/* line 2066, ../sass/main.scss */
#tab-review .reviewStars-input input:checked ~ label::before {
  color: #349f08;
}

/* line 2070, ../sass/main.scss */
.gallery-category .news-block {
  margin-bottom: 30px;
}
/* line 2072, ../sass/main.scss */
.gallery-category .news-block .position-date {
  margin-bottom: 0;
}
/* line 2074, ../sass/main.scss */
.gallery-category .news-block .position-date a {
  display: block;
  margin-bottom: 30px;
}
/* line 2080, ../sass/main.scss */
.gallery-category .position-date {
  margin-bottom: 0;
}
/* line 2082, ../sass/main.scss */
.gallery-category .position-date a {
  display: block;
  margin-bottom: 30px;
}

/* line 2088, ../sass/main.scss */
.click-triger-zoom {
  position: absolute;
}

/* line 2091, ../sass/main.scss */
#popup-purchase-wrapper .opt_wrapp.size_opt input:checked + label,
.product-page .opt_wrapp.size_opt input:checked + label {
  border: 1px solid #339900 !important;
}

/* line 2096, ../sass/main.scss */
.viewed-product .product-thumb .image {
  margin: 16px 0;
}
/* line 2099, ../sass/main.scss */
.viewed-product .slick-list.draggable {
  padding: 0 100px !important;
}
/* line 2102, ../sass/main.scss */
.viewed-product .product-layout {
  margin-bottom: 0;
}

/* line 2108, ../sass/main.scss */
.contact-wrapper:before,
.gallery-category:before {
  content: '';
  background-image: url("/image/catalog/bitmap_3.png");
  width: 315px;
  height: 253px;
  background-position: bottom left;
  background-repeat: no-repeat;
  position: absolute;
  left: -30%;
  bottom: 22px;
}
/* line 2119, ../sass/main.scss */
.contact-wrapper:after,
.gallery-category:after {
  content: '';
  background-image: url("/image/catalog/bitmap_2.png");
  width: 100%;
  height: 180px;
  background-position: top right;
  background-repeat: no-repeat;
  position: absolute;
  right: -11%;
  top: 0;
}

/* line 2131, ../sass/main.scss */
.wrapper-image_article {
  margin-bottom: 30px;
}
/* line 2133, ../sass/main.scss */
.wrapper-image_article a {
  position: relative;
  display: block;
}
/* line 2136, ../sass/main.scss */
.wrapper-image_article a:before {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
/* line 2143, ../sass/main.scss */
.wrapper-image_article a h1 {
  position: absolute;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  top: 60px;
  left: 60px;
  z-index: 2;
}
/* line 2156, ../sass/main.scss */
.wrapper-image_article a h1:before {
  content: '';
  display: block;
  background-color: #339900;
  width: 45px;
  height: 1px;
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 2170, ../sass/main.scss */
.article-description {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
  opacity: 0.8;
  margin-bottom: 70px;
}

/* line 2183, ../sass/main.scss */
.news-article .share_wrapp {
  float: left;
  margin-bottom: 69px;
}

/* line 2189, ../sass/main.scss */
.news-article .viewed-product {
  margin-bottom: 0;
}

/* line 2194, ../sass/main.scss */
.viewed-news .news-block {
  margin-bottom: 0;
}
/* line 2196, ../sass/main.scss */
.viewed-news .news-block img {
  width: 100%;
}

/* line 2201, ../sass/main.scss */
.slider-image-big-curier {
  position: relative;
}

/* line 2204, ../sass/main.scss */
.click-triger-zoom {
  background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0px;
  font-size: 20px;
  z-index: 99999;
}

/* line 2213, ../sass/main.scss */
.map {
  width: 100%;
  min-height: 400px;
  margin-bottom: 60px;
}

/* line 2218, ../sass/main.scss */
.info-shop {
  background-color: #f5f6f8;
  padding: 30px;
}
/* line 2221, ../sass/main.scss */
.info-shop i {
  font-size: 20px;
  margin-right: 20px;
}
/* line 2225, ../sass/main.scss */
.info-shop .telephone-wrapp a,
.info-shop .telephone-wrapp {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  margin-right: 30px;
}
/* line 2238, ../sass/main.scss */
.info-shop address span {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

/* line 2250, ../sass/main.scss */
.contact-mail {
  text-align: center;
  margin-bottom: 90px;
}
/* line 2253, ../sass/main.scss */
.contact-mail p {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #808080;
  margin-bottom: 30px;
}
/* line 2264, ../sass/main.scss */
.contact-mail a {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #339900;
  margin-right: 30px;
}

/* line 2276, ../sass/main.scss */
.error-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
/* line 2284, ../sass/main.scss */
.error-wrapper .error-img {
  width: 100%;
  height: 100%;
}
/* line 2288, ../sass/main.scss */
.error-wrapper .text-error {
  display: block;
  padding: 50px;
  margin: 0 auto;
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  border: 5px solid #fff;
  border-image: url(/catalog/view/theme/default/image/lines.png) 5 stretch;
  background-origin: border-box;
}
/* line 2305, ../sass/main.scss */
.error-wrapper .text-error img {
  position: absolute;
  right: 147px;
  top: -105px;
}
/* line 2310, ../sass/main.scss */
.error-wrapper .text-error p {
  font-size: 288px;
  font-family: "proxima_nova_bold";
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  line-height: 288px;
  position: relative;
}
/* line 2320, ../sass/main.scss */
.error-wrapper .text-error p span {
  position: absolute;
  right: 75px;
  top: 45%;
  transform: translate(0, -50%);
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
/* line 2335, ../sass/main.scss */
.error-wrapper .text-error .buttons {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
}
/* line 2343, ../sass/main.scss */
.error-wrapper .text-error .btn-primary {
  width: 240px;
  height: 60px;
  border-radius: 35px;
  background-color: #339900;
  border: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

/* line 2369, ../sass/main.scss */
.btn-write,
.btn-call {
  display: none;
}
/* line 2372, ../sass/main.scss */
.btn-write span,
.btn-call span {
  display: none;
  visibility: hidden;
  opacity: 0;
}

/* line 2378, ../sass/main.scss */
.btn-write.open:hover,
.btn-call.open:hover {
  width: 162px;
  height: 45px;
  border-radius: 30px;
  background-color: #339900;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
/* line 2385, ../sass/main.scss */
.btn-write.open:hover span,
.btn-call.open:hover span {
  display: block;
  visibility: visible;
  opacity: 1;
  margin-right: 10px;
}

/* line 2392, ../sass/main.scss */
.btn-write.open,
.btn-call.open {
  display: flex;
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  padding: 0 12px;
  border-radius: 50%;
  background-color: #339900;
  border-color: #339900;
  align-items: center;
  justify-content: space-between;
}
/* line 2405, ../sass/main.scss */
.btn-write.open:focus,
.btn-call.open:focus {
  color: #282828;
  border-color: #fff;
  background-color: #fff;
  background-image: none;
}

/* line 2413, ../sass/main.scss */
.btn-write.open {
  bottom: 130px;
}

/* line 2416, ../sass/main.scss */
.btn-call.open {
  bottom: 75px;
}

/* line 2419, ../sass/main.scss */
.btn-callphone {
  position: relative;
  z-index: 99;
}
/* line 2422, ../sass/main.scss */
.btn-callphone:focus {
  background-color: #fff;
  color: #282828;
  border-color: #fff;
  background-image: none;
}

@keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@-webkit-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@-moz-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}
@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
