@media screen and (max-width: 1366px) {
  /* line 3, ../sass/media.scss */
  .about-company_wrapper:before {
    left: 1.5%;
  }
  /* line 6, ../sass/media.scss */
  .about-company_wrapper .text {
    position: relative;
    z-index: 2;
  }

  /* line 11, ../sass/media.scss */
  .error-wrapper .text-error img {
    right: 76px;
  }

  /* line 14, ../sass/media.scss */
  .error-wrapper .text-error p {
    font-size: 200px;
  }
  /* line 16, ../sass/media.scss */
  .error-wrapper .text-error p span {
    right: 0;
  }
}
@media screen and (max-width: 1199px) {
  /* line 22, ../sass/media.scss */
  .phone-wrapper_bg {
    background-color: #f5f6f8;
    height: 52px;
  }
  /* line 25, ../sass/media.scss */
  .phone-wrapper_bg .phone {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* line 33, ../sass/media.scss */
  .text img {
    width: 100%;
  }

  /* line 37, ../sass/media.scss */
  #logo {
    padding: 0 125px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 42, ../sass/media.scss */
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4d4d4d;
  }
  /* line 47, ../sass/media.scss */
  .footer-info.info-shops {
    display: block;
    border-bottom: 0;
  }

  /* line 52, ../sass/media.scss */
  .wrapper-info .info-items {
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  /* line 59, ../sass/media.scss */
  .text ul {
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
  }
  /* line 63, ../sass/media.scss */
  .text ul li {
    margin: 0 0 20px 20px;
  }
  /* line 65, ../sass/media.scss */
  .text ul li:last-child {
    margin-bottom: 20px;
  }
  /* line 68, ../sass/media.scss */
  .text ul li:first-child {
    margin-left: 0px;
  }
  /* line 72, ../sass/media.scss */
  .text ul:before {
    display: none;
  }
  /* line 76, ../sass/media.scss */
  .text p {
    text-align: center;
  }
  /* line 79, ../sass/media.scss */
  .text a {
    text-align: center;
    justify-content: center;
  }

  /* line 86, ../sass/media.scss */
  .wrapper-banner_about a img {
    width: 100%;
  }

  /* line 91, ../sass/media.scss */
  .navbar-toggle {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 0;
  }
  /* line 96, ../sass/media.scss */
  .navbar-toggle i {
    color: #339900;
    font-size: 25px;
  }

  /* line 101, ../sass/media.scss */
  .navbar-header {
    width: 100%;
    float: none;
  }

  /* line 105, ../sass/media.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 108, ../sass/media.scss */
  .navbar-collapse.in {
    display: block !important;
  }

  /* line 112, ../sass/media.scss */
  .about-company_wrapper:after, .about-company_wrapper:before {
    display: none;
  }

  /* line 119, ../sass/media.scss */
  .container-product:after, .container-product:before {
    display: none;
  }

  /* line 126, ../sass/media.scss */
  .wrapper-info .products_row-btn {
    top: 50%;
    transform: translate(0, -50%);
  }
  /* line 130, ../sass/media.scss */
  .wrapper-info .products_row-prev_btn {
    left: 0;
    transform: translate(0, -62%) rotate(-180deg);
    z-index: 9;
  }
  /* line 135, ../sass/media.scss */
  .wrapper-info .products_row-next_btn {
    right: 0;
  }
  /* line 138, ../sass/media.scss */
  .wrapper-info .info-items {
    flex-direction: column;
    align-items: center;
  }
  /* line 141, ../sass/media.scss */
  .wrapper-info .info-items .text-info {
    text-align: center;
  }
  /* line 143, ../sass/media.scss */
  .wrapper-info .info-items .text-info p,
  .wrapper-info .info-items .text-info h3 {
    text-align: center;
  }

  /* line 150, ../sass/media.scss */
  .navbar-nav {
    flex-direction: column;
    justify-content: center;
  }

  /* line 155, ../sass/media.scss */
  .wrapper_big-slider .item {
    height: 350px;
  }
  /* line 157, ../sass/media.scss */
  .wrapper_big-slider .item img {
    height: 100%;
  }

  /* line 162, ../sass/media.scss */
  #category {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
  }

  /* line 173, ../sass/media.scss */
  .category-block ul li a {
    text-align: center;
  }

  /* line 178, ../sass/media.scss */
  .category-slider .item img {
    width: 100%;
  }

  /* line 185, ../sass/media.scss */
  .product-thumb .image img {
    width: 100%;
  }

  /* line 190, ../sass/media.scss */
  .select2-container .select2-selection--single,
  .select2-container {
    width: 100% !important;
    min-width: 100% !important;
  }

  /* line 195, ../sass/media.scss */
  #mfilter-opts-price-min,
  #mfilter-opts-price-max {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
  }

  /* line 201, ../sass/media.scss */
  .menu-black {
    height: 100%;
  }
  /* line 203, ../sass/media.scss */
  .menu-black .active-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  /* line 209, ../sass/media.scss */
  .menu-black .active-menu li {
    padding: 10px 15px;
  }
  /* line 213, ../sass/media.scss */
  .menu-black .wrapper-language {
    width: 100%;
    float: none;
  }
  /* line 216, ../sass/media.scss */
  .menu-black .wrapper-language ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  /* line 225, ../sass/media.scss */
  .wrapper-category_img:before {
    width: 100%;
  }

  /* line 228, ../sass/media.scss */
  .wrapper-info .info-items {
    border: 0;
  }

  /* line 232, ../sass/media.scss */
  .container-product .slick-list.draggable {
    padding: 0 !important;
    padding-right: 88px !important;
  }

  /* line 238, ../sass/media.scss */
  .viewed-product .slick-list.draggable {
    padding: 0 30px !important;
  }
}
@media screen and (max-width: 768px) {
  /* line 244, ../sass/media.scss */
  .margin-option {
    margin-bottom: 20px !important;
  }

  /* line 247, ../sass/media.scss */
  .item-btn_wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  /* line 251, ../sass/media.scss */
  .item-btn_wrapper .short-btn {
    margin: 0;
    margin-bottom: 20px;
  }
  /* line 255, ../sass/media.scss */
  .item-btn_wrapper .share_wrapp {
    float: left;
  }

  /* line 259, ../sass/media.scss */
  #logo {
    padding: 0 15px;
  }

  /* line 262, ../sass/media.scss */
  .image-items {
    display: none;
  }

  /* line 265, ../sass/media.scss */
  .category-page .mfilter-content {
    display: none;
  }

  /* line 268, ../sass/media.scss */
  .box-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  /* line 275, ../sass/media.scss */
  .box-heading i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #339900;
  }

  /* line 283, ../sass/media.scss */
  .footer-title {
    display: flex;
  }

  /* line 286, ../sass/media.scss */
  .phone-wrapper_bg {
    height: 102px;
    position: relative;
  }
  /* line 289, ../sass/media.scss */
  .phone-wrapper_bg:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: translate(0, -50%);
    background-color: #e6e6e6;
  }
}
@media screen and (max-width: 767px) {
  /* line 302, ../sass/media.scss */
  .footer-title {
    margin: 15px 0;
    text-align: center;
    justify-content: center;
    position: relative;
  }
  /* line 307, ../sass/media.scss */
  .footer-title i {
    color: #339900;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  /* line 316, ../sass/media.scss */
  #input-search {
    margin-bottom: 20px;
  }

  /* line 319, ../sass/media.scss */
  footer .list-unstyled li a {
    text-align: center;
  }

  /* line 322, ../sass/media.scss */
  footer .list-unstyled {
    display: none;
  }

  /* line 326, ../sass/media.scss */
  .parent-elements hr {
    display: none;
  }

  /* line 330, ../sass/media.scss */
  footer p {
    text-align: center;
  }

  /* line 333, ../sass/media.scss */
  footer .text-right a {
    text-align: center;
    display: block;
  }
  /* line 336, ../sass/media.scss */
  footer .text-right a img {
    margin: 0 auto;
  }

  /* line 340, ../sass/media.scss */
  .error-wrapper .text-error {
    border: 0;
    width: 80%;
  }
  /* line 343, ../sass/media.scss */
  .error-wrapper .text-error img {
    width: 100%;
    top: 30%;
    transform: translate(0, -30%);
    right: 0;
    left: 0;
  }
  /* line 350, ../sass/media.scss */
  .error-wrapper .text-error p {
    text-align: center;
    font-size: 55px;
  }
  /* line 353, ../sass/media.scss */
  .error-wrapper .text-error p span {
    display: none;
  }
  /* line 357, ../sass/media.scss */
  .error-wrapper .text-error .buttons {
    bottom: 0;
  }

  /* line 362, ../sass/media.scss */
  .footer-info.info-shops + hr {
    display: none;
  }

  /* line 366, ../sass/media.scss */
  .navbar-nav,
  .nav > li {
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  /* line 372, ../sass/media.scss */
  .footer-info {
    flex-direction: column;
    padding-bottom: 20px;
  }

  /* line 377, ../sass/media.scss */
  h1,
  h2,
  .wrapper-info,
  .big-slider,
  .wrapper-news,
  .wrapper-category_home,
  .common-home .product-layout,
  .container-product {
    margin-bottom: 40px;
  }

  /* line 387, ../sass/media.scss */
  .container-product {
    padding-bottom: 40px;
  }

  /* line 390, ../sass/media.scss */
  h1,
  h2 {
    font-size: 24px;
  }

  /* line 394, ../sass/media.scss */
  h1:before, h2:before {
    bottom: -30px;
  }

  /* line 397, ../sass/media.scss */
  .galery-block {
    padding-top: 40px;
  }

  /* line 400, ../sass/media.scss */
  .products_row-btn {
    top: -50%;
  }

  /* line 404, ../sass/media.scss */
  .wrapper-news.galery-block {
    margin-bottom: 0;
  }

  /* line 407, ../sass/media.scss */
  .phone span {
    font-size: 11px;
  }

  /* line 410, ../sass/media.scss */
  .phone {
    margin: 0 -5px;
  }

  /* line 413, ../sass/media.scss */
  .phone a {
    font-size: 10px;
  }

  /* line 417, ../sass/media.scss */
  .wrapper_big-slider .item {
    height: 250px;
  }
  /* line 419, ../sass/media.scss */
  .wrapper_big-slider .item img {
    height: 100%;
  }
  /* line 423, ../sass/media.scss */
  .wrapper_big-slider .item .text-info .banner_title {
    margin-bottom: 20px;
  }
  /* line 425, ../sass/media.scss */
  .wrapper_big-slider .item .text-info .banner_title h2 {
    font-size: 24px;
    line-height: 24px;
  }
  /* line 432, ../sass/media.scss */
  .wrapper_big-slider .item .text-info .banner_title p {
    font-size: 18px;
  }

  /* line 439, ../sass/media.scss */
  .wrapper-category_img {
    min-height: auto;
    padding: 20px 60px;
  }
  /* line 442, ../sass/media.scss */
  .wrapper-category_img h1 {
    font-size: 24px;
  }
  /* line 445, ../sass/media.scss */
  .wrapper-category_img:before {
    display: none;
  }

  /* line 449, ../sass/media.scss */
  .products_row-prev_btn {
    left: 0;
  }

  /* line 452, ../sass/media.scss */
  .products_row-next_btn {
    right: 0%;
  }

  /* line 455, ../sass/media.scss */
  .opt_wrapp.size_opt label {
    min-width: 60px;
  }

  /* line 458, ../sass/media.scss */
  .option-wrapper .control-label {
    margin-right: 15px;
    font-size: 14px;
  }

  /* line 462, ../sass/media.scss */
  .modal-dialog .modal-content {
    padding: 30px 10px;
  }

  /* line 465, ../sass/media.scss */
  .modal-content h2 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 375px) {
  /* line 470, ../sass/media.scss */
  .col-xxs-12 {
    width: 100%;
  }
}
