@import url("fonts.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700");

$main_font : 'proxima_nova_regular';
$main_font_semibold : 'proxima_nova_semibold';
$main_font_bold : 'proxima_nova_bold';
$red_color: #d0362b;
$title_color_black: #000000;
$text_color_grey:#666666;
html,
body {
  height: 100%;
  font-family: $main_font;
}
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*{
  outline:0px!important;
  font-family: $main_font;
  box-sizing: border-box;
}
*:focus,
*:active{
  outline: 0px!important;
  text-shadow: none;
  box-shadow: none!important;
}
a:hover{
  text-decoration: none;
}
a:focus{
  outline: 0px !important;
}
#content{
  min-height: auto;
  //padding-bottom: 30px;
}

@mixin t-y{
  top: 50%;
  transform: translateY(-50%);
}
@mixin t-x{
  left: 50%;
  transform: translateX(-50%);
}
@mixin t-xy{
  top: 50%;
  left: 50%;
  transform: translate3D(-50%, -50%, 0);
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
$shadowlength: 60;

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through $shadowlength {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}
.page-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow-x:hidden ;
}
.page-wrapper,
.footer {
  max-width: none;
  min-width: 0;
  width: 100%;
  margin: 0 auto;
}
header {
  padding: 20px 0 21px;
  flex: 0 0 auto;
  margin-bottom: 18px;
}
.common-home{
  header{
    margin-bottom: 0;
  }
}
.main-content {
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;

}
.mfp-close{
  &:hover{
    cursor: pointer!important;
  }
}
footer {
  flex: 0 0 auto;
  background-color: #282828;
  padding: 30px 0 15px;
}
.slick-slider{
  opacity: 0;
  &>.item:not(:first-child){
    display: none;
  }
  &.slick-initialized{
    opacity: 1;
  }
}
.slick-slider{
  opacity: 0;
  & > .item:not(:first-child){
    display: none!important;
  }
}
.slick-slider.slick-initialized{
  opacity: 1;
}
.wrapper_big-slider >.item:not(:first-child){
  display: none!important;
}
body{
  font-family: $main_font;

}
header{
  .flex-wrapper{
    min-height: 66px;
  }
  .flex-container{
    display: flex;
    align-items: center;
  }
}

.category-block{
  background-color: #f5f6f8;
  ul{
    li{
      a{
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #1a1a1a;
        padding: 17px 0;
      }
    }
  }
}
.navbar{
  margin-bottom: 0;
}
.navbar-collapse{
  padding: 0;
}
.flex-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-between;
}
.ninja-btn{
  margin-right: 58px;
  position: relative;
  z-index: 2;
  i{
    font-size: 25px;
    &.icon-close{
      visibility: hidden;
      opacity: 0;
      display: none;
    }
  }
  &:hover{
    cursor: pointer;
  }
}
.menu-open{
  .ninja-btn{
    i{
      &.icon-close{
        visibility: visible;
        opacity: 1;
        display: block;
      }
      &.icon-menu{
        visibility: hidden;
        opacity: 0;
        display: none;
      }
    }
  }
}
.main-content{

}
.phone{
  span{
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #808080;
    margin-right: 15px;
  }
  a{
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-right: 15px;
  }
}
.items-help_elements{
  font-size: 22px;
  line-height: 20px;
  margin-left: 41px;
}
#search {
  .search_block_content {
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0;
    z-index: -1;
    margin-right: 15px;
    //transform: translateX(-100%);
    //transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    input {
      padding: 15px 55px;
      border-radius: 5px;
      background-color: #ffffff;
      border: solid 1px #e6e6e6;
      min-width: 380px;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #b3b3b3;
      height: 50px;
      min-height: 50px;
      line-height: 50px;
      box-shadow: none;
    }
    &:before{
      content: "\e901";
      position: absolute;
      left: 15px;
      color: #b3b3b3;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 9;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .icon-search{
    font-size: 25px;
  }
  .button-ok{
    display: none;
  }
}
.open #search .search_block_content {
  opacity: 1;
  z-index: 10;
  padding-right: 5px;
  //transform: translateX(0);
}
#button-search{
  margin-bottom: 40px;
}
.product-search{
  .checkbox-inline{
    margin-top: 10px;
    padding: 0;
  }
}

.open #search{
  .button-ok{
    display: block;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #48a41a;
    color: #48a41a;
    text-align: center;
    line-height: 50px;
  }
  .icon-search{
    display: none;
  }
}
.flex-right{
  justify-content: flex-end;
}
.big-slider{
  margin-bottom: 90px;
}
.wrapper_big-slider{
  .item{
    position: relative;
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
    }
    .text-info{
      position: absolute;
      display: block;
      top: 54%;
      transform: translate(0, -50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      .banner_title{
        margin-bottom: 60px;
        h2{
          font-size: 48px;
          font-family: $main_font_bold;
          font-style: normal;
          font-stretch: normal;
          //line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
          position: relative;
          margin-bottom: 33px;
          text-transform: uppercase;
          line-height: 58px;
          &:before{
            content: '';
            display: block;
            width: 166px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom: -15px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
        }
        p{
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: normal;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}


.btn-default {
  display: flex;
  width: 240px;
  height: 60px;
  border-radius: 35px;
  background-color: transparent;
  border: solid 1px #339900;
  color: #339900;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  span{
    position: relative;
    z-index: 1;
  }
  &:before {
    background-color: rgba(52,159,8, 0.5);
  }
  &:after {
    background-color: rgba(52,159,8, 1);
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: 0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }

  &:hover{
    color: #fff;
    border-color: #fff!important;
    &:before,
    &:after{
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    &:after {
      -webkit-transition-delay: 0.175s;
      transition-delay: 0.175s;
    }
  }
  &.btn-white{
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #fff;
    &:before {
      background-color: rgba(255,255,255,0.5);
    }
    &:after {
      background-color: #ffff;
    }
    &:hover{
      border-color: #fff!important;
      color: #1a1a1a;
    }
  }
}
.common-home{
  .product-layout{
    margin-bottom: 90px;
  }
}
.product-layout{
  margin-bottom: 45px;
}
.btn-default:hover{
  border-color: #349f08!important;
  background-color: transparent;
}
h1,
h2{
  font-family: $main_font;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  margin: 0;
  margin-bottom: 100px;
  position: relative;
  &:before{
    content: "\e902";
    color: #390;
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 30px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    bottom: -46px;
    left: 0;
    right: 0;
  }
}
.nav > li{
  overflow: hidden;
  margin: 0 15px;
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #349f08;
    transform: translateX(-100%);
    transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  }
}
.nav > li:hover{
  &:before {
    transform: translateX(0);
  }
}
.active-menu li.activeCSS{
  &:before {
    transform: translateX(0);
  }
}
.nav > li > a:focus,
.nav > li > a:hover{
  background-color: transparent;
}
.wrapper-category_home{
  background-color: #f5f6f8;
  margin-bottom: 90px;
  .item{
    //width: 384px!important;
    border-right: 1px solid #fff;
    transition: box-shadow 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99), transform 600ms cubic-bezier(0.33, 0.11, 0.02, 0.99);
    a{
      padding: 25px 25px 30px;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.8;
      letter-spacing: normal;
      text-align: center;
      color: #808080;
      display: block;
      img{
        display: block;
        margin: 0 auto 30px;
      }
      &:hover{
        text-decoration: none;
      }
    }
    &:hover{
      box-shadow: 0 0 10px 0 #b3b3b3;
      //transform: scale(1.1) translateY(0rem);
    }
  }
}
.container-product{
  margin-bottom: 90px;
}
.product-thumb{
  .image{
    width: 100%;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f6f8;
    margin-bottom: 16px;
    cursor: pointer;
    transition: box-shadow 600ms cubic-bezier(.33,.11,.02,.99), transform  600ms cubic-bezier(.33,.11,.02,.99);
  }
  .caption{
    text-align: center;
    a{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: center;
      color: #1a1a1a;
      .price{
        margin-top: 15px;
        span{
          font-size: 18px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.89;
          letter-spacing: normal;
          text-align: center;
          color: #1a1a1a;
        }
      }
    }
  }
  &:hover{
    .image{
      &:hover {
        box-shadow: 0 0 10px 0 #b3b3b3;
        transform: scale(1.02) translateY(-0.5rem);
      }
    }
  }
}
.news-ncategory{
  .news-category{
    .news-block{
      margin-bottom: 50px;
    }
  }
}

.news-block {
  .position-date{
    margin-bottom: 15px;
    a{
      position: relative;
      overflow: hidden;
      &:before{
        content: '';
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        //max-width: 1%;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
      }
      &:hover{
        &:before{
          transform: translateX(0);
        }
      }
    }
  }
  a{
    display: block;
    span{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #339900;
      display: block;
      margin-bottom: 15px;
    }
    .name-news{
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #1a1a1a;
    }
  }
}
.wrapper-news{
  margin-bottom: 90px;
}
.wrapper-info{
  background-color: #f5f6f8;
  margin-bottom: 90px;
  .col-md-4{
    &:last-child{
      .info-items{
        border: 0;
      }
    }
  }
  .info-items{
    display: flex;
    align-items: center;
    padding: 20px 0 29px;
    border-right: 1px solid #e6e6e6;
    .img-wrapper{
      margin-right: 29.2px;
      i{
        font-size: 42px;
      }
    }
    .text-info{
      h3{
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        color: #282828;
      }
      p{
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #282828;
      }
    }
  }
}
.footer-title{
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 30px;
}
footer{
  .list-unstyled{
    li{
      margin-bottom: 15px;
      a{
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #999999;
        &:hover{
          color:  #339900;
        }
      }
    }
  }
  img{
    margin-bottom: 30px;
  }
  .mail-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    a{
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
  .footer-info{
    ul{
      padding: 0;
      li{
        float: left;
        list-style: none;
        margin-right: 15px;
        &:last-child{
          margin-right: 0;
        }
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border: solid 1px #339900;
          border-radius: 50%;
          transition: .3s;
          //&:hover{
          //  transition: .3s;
          //  background-color: #339900;
          //}
        }
      }
    }
  }
  p{
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    i{
      font-size: 15px;
      margin-right: 10px;
    }
  }
  .list-unstyled{
    .phone-wrapper{
      display: flex;
      i{
        margin-right: 15px;
      }
    }
    a{
      display: block;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      margin-bottom: 15px;
      i{
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }
  .text-right{
    a{
      img{
        margin-bottom: 0;
      }
    }
  }
}
footer{
  hr{
    border: 1px solid #4d4d4d;
  }
}
hr{
  border: solid 1px #e6e6e6;
}
.news-block {
  margin-bottom: 70px;
}
.text{
  ul{
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 102px;
    li{
      width: 40px;
      height: 40px;
      list-style: none;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: solid 1px #339900;
        border-radius: 50%;
        transition: .3s;
        margin-top: 0;
        i{
          font-size: 18px;
          margin: 0;
        }
        &:hover{
          transform: scale(1.2) translateY(0rem);
          opacity: 1;
        }
      }
    }
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 83px;
      background-color: #3f9f0f;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  p{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
    margin-bottom: 30px;
  }
  a{
    display: flex;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #339900;
    margin-top: 50px;
    align-items: center;
    i{
      font-size: 40px;
      margin-right: 15px;
    }
    &:hover{
      text-decoration: none;
      opacity: 0.5;
    }
  }
}

.navbar-nav{
  width: 100%;
  float: none;
  display: flex;
  justify-content: flex-start;
}
.about-company_wrapper{
  position: relative;
  margin-bottom: 52px;
  &:before{
    content: '';
    background-image: url("/image/catalog/bitmap_2.png");
    width: 100%;
    height: 180px;
    background-position: top left;
    background-repeat: no-repeat;
    position: absolute;
    left: 14.5%;
    top: 0;
  }
  &:after{
    content: '';
    background-image: url("/image/catalog/bitmap_3.png");
    width: 315px;
    height: 253px;
    background-position: bottom right;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.container-product{
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 90px;
  &:before{
    content: '';
    background-image: url("/image/catalog/bitmap_3.png");
    width: 315px;
    height: 253px;
    background-position: bottom left;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;

  }
  &:after{
    content: '';
    background-image: url("/image/catalog/bitmap_2.png");
    width: 100%;
    height: 180px;
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    right: 12%;
    top: 0;
  }
}
.menu-black{
  width: 100%;
  height: 171px;
  background-color:  #282828;
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);
  //padding-top: 6.2rem;
  padding: 20px 0 21px;
  z-index: 1;
  .menu-open & {
    transform: translateX(0);
  }
  img{
    width: 100%;
    margin-bottom: 25px;
  }
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    float: left;
    li {
      float: left;
      padding-right: 20px;
      a{
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #b3b3b3;
        &:focus,
        &:active,
        &:hover{
          color: #339900;
          text-decoration: none;
        }
      }
    }
    &.list-inline{
      li {
        a{
          text-transform: uppercase;
          text-decoration: none;
          &:focus,
          &:active,
          &:hover{
            color: #339900;
            text-decoration: none;
          }
        }
        &.active{
          a{
            color: #339900;
          }
        }
      }
    }
  }
  .wrapper-language{
    float: right;
  }
}
.galery-block{
  background-color: #f5f6f8;
  padding: 90px 0;
  margin-bottom: 0;
}
.galery-list{
  margin-bottom: 45px;
}
.products_row-btn {
  position: absolute;
  top: -75%;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  width: 50px;
  height: 50px;
  padding: 0;
  color: #1a1a1a;
  line-height: 50px;
  transform: translate(0, 75%);
  border: 0;
  &:hover{
    color: #339900;
  }
}

.products_row-prev_btn {
  left: 20%;
  transform: translate(0, 75%) rotate(-180deg);
}
.products_row-next_btn {
  right: 20%;
  z-index: 1;
}
.cls-1 {
  fill: #282828;
}
.cls-2 {
  fill: #5d8412;
}

.letter {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
}
.letter-svg {
  margin: 0 auto;
  position: relative;
  display: block;
}
.common-home{
  .category-block{
    margin-bottom: 0px;
  }
}
.category-block{
  margin-bottom: 20px;
}
.breadcrumb{
  background-color: transparent;
  padding: 0;
  margin-bottom: 57px;
  li{
    font-family: $main_font;
    a{
      font-size: 13px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #339900;
      span{
        color: #339900;
        font-weight: 600;
      }
    }
    span{
      font-weight: normal;
      color: #1a1a1a;

    }
  }
}
.breadcrumb > li + li:before {
  padding: 0;
  color: #339900;
  content: "/\00a0";
}
.href-wrapper{
  display: block;
}
.wrapper-category_img{
  background-color: #f5f6f8;
  padding: 60px;
  position: relative;
  min-height: 360px;
  margin-bottom: 40px;
  display: block;
  h2,
  h1{
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
    position: relative;
    margin: 0;
    &:before{
      content: '';
      display: block;
      background-color: #339900;
      width: 45px;
      height: 1px;
      position: absolute;
      left: -60px;
      @include t-y;
    }
  }
  .image-items{
    position: absolute;
    right: 46px;
    @include t-y;
  }
  &:before{
    content: '';
    background-image: url("/image/catalog/woodi.png");
    width: 52%;
    height: 233px;
    background-position: bottom left;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.form-checkbox input[type="radio"],
.form-checkbox input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker {
  border-color: #339900;
}
.form-checkbox input[type="radio"]:checked ~ .form-checkbox__label,
.form-checkbox input[type="checkbox"]:checked ~ .form-checkbox__label {
  //font-weight: 600;
}
.form-checkbox input[type="radio"]:checked + .form-checkbox__marker::after,
.form-checkbox input[type="checkbox"]:checked + .form-checkbox__marker::after {
  opacity: 1;
}
.form-checkbox__marker {
  width: 20px;
  height: 20px;
  //padding: 3px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #e6e6e6;;
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: background-color linear 0.3s;
  transition: background-color linear 0.3s;
  vertical-align: middle;
  float: left;
}
.form-checkbox__marker:after {
  position: absolute;
  content: '';
  left: 14%;
  top: 18%;
  height: 40%;
  width: 72%;
  border-bottom: 1px solid #339900;
  border-left: 1px solid #339900;
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.form-checkbox__label span,
.form-checkbox__label{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}
label.mfilter-tb-as-td{
  display: flex;
  align-items: center;
}
.iScrollIndicator{
  background: rgb(232, 233, 235) none repeat scroll 0% 0%!important;
}
.results-text{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
}
#mfilter-content-container{
  .flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
.control-label{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #808080;
}
.select2-container--default .select2-selection--single{
  border-radius: 5px;
  border: solid 1px #e6e6e6;
}
.select2-container{
  width: 263px!important;
}
.select2-container .select2-selection--single{
  min-width: 263px!important;
  padding: 0 15px;
  height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
  line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 40px;
  position: absolute;
  top: 1px;
  right: 15px;
  width: 20px;
  line-height: 40px;
  font-size: 15px;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 50px;

}
.pagination li {
  padding: 0px 5px;
}
.pagination li.not_active span:hover {
  background-color: transparent;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span{
  border-radius: 0;
  border: 0;
}
.pagination li.not_active span {
  font-size: 16px;
  text-align: left;
  border-radius: 0px;
  color: #999999!important;
  border: 0px;
}
.pagination li.next a,
.pagination li.next span,
.pagination li.prev a,
.pagination li.prev span {
  font-size: 16px;
  text-align: left;
  color: #339900;
  border-radius: 0px;
  border: 0px;
}
.pagination li.next a:hover,
.pagination li.next span:hover,
.pagination li.prev a:hover,
.pagination li.prev span:hover{
  border: 0;
  color: #339900;
  background-color: #fff;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #1a1a1a;
  border: 0;
  text-decoration: none;
  background-color: #fff;
  //border: 1px solid #ddd;
}
.pagination li a {
  float: none;
  font-size: 16px;
  color: #1a1a1a;
  padding: 0px;
  height: 25px;
  min-width: 25px;
  border-radius: 0;
  text-align: center;
  border:0;
  display: block;
}
.pagination li a:focus,
.pagination li a:active,
.pagination li a:hover{
  color: #339900;
  //border: solid 1px #d0362b;
  background-color: #fff;
}
.pagination li.active span {
  padding: 0px;
  height: 25px;
  min-width: 25px;
  border-radius: 0;
  font-size: 16px;
  text-align: center;
  color: #339900;
  border: 0;
  //border: solid 1px #d0362b;
  background-color: transparent;
}
.pagination li.active span:hover{
  background-color: transparent;
  //border: solid 1px #d0362b;
}
.pagination li i{
  margin: 0 5px;
  line-height: 16px;
  font-size: 16px;
}
.prev{
  transform: translate(0, -15%) rotate(-180deg);
  a{
    i{
      color: #339900;
    }
  }
}
.next{
  a{
    i{
      color: #339900;
    }
  }
}
.next.not_active,
.prev.not_active{
  display: none;
}
.btn-callphone{
  width: 45px;
  height: 45px;
  background-color: #339900;
  border-radius: 50%;
  border: 0;
  &:hover{
    background-color: #339900;
  }
}
.open{
  .btn-callphone{
    background-color: #fff;
    i{
      color: #282828;
    }
    &:hover{
      background-color: #339900;
    }
  }
  .callback{
    .callback_b,
    .callback_a{
      border-color: #fff;
    }
  }
}
.modal-dialog{
  .modal-content{
    background-color: #f5f6f8;
    padding: 60px 30px;
    .modal-header{
      border: 0;
      h2{
        margin-bottom: 60px;
      }
    }
    .close{
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 15px;
      opacity: 1;
      span:before{
        color: #1a1a1a!important;
      }
    }
  }
}
.modal-sm{
  width: 420px;
}
input:not([type=checkbox]):not([type=radio]),
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
textarea.form-control,
input.form-control{
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  &:focus{
    border: solid 1px #e6e6e6;
  }
}
textarea.form-control{
  resize: none!important;
  height: 125px;
}
.callback {
  background: #339900;
  border-radius: 50% !important;
  bottom: 50px;
  height: 45px;
  position: fixed;
  right: 30px;
  width: 45px;
  z-index: 9999;
  cursor: pointer;
  button{
    padding: 0;
  }
  i{
    font-size: 20px;
    line-height: 45px;
  }
}

.callback:hover {
  animation: 1.5s linear 0s normal none infinite running callback_anim;
}

.callback:hover .callback_b, .callback:hover .callback_a {
  background-color: #339900;
  border-color: #339900;
}

.callback .callback_block {
  height: 45px;
  position: absolute;
  width: 45px;
}

.callback .callback_a {
  -webkit-animation: callback 3s linear 0s infinite;
  -moz-animation: callback 3s linear 0s infinite;
  animation: callback 3s linear 0s infinite;
  background-color: transparent;
  border: 2px solid #339900;
  border-radius: 100% !important;
  bottom: 18px;
  box-sizing: border-box;
  height: 100px;
  opacity: 0.01;
  position: absolute;
  right: -28px;
  width: 100px;
  z-index: 1;
}

.callback .callback_b {
  -webkit-animation: callback 1.5s linear 0s infinite;
  -moz-animation: callback 1.5s linear 0s infinite;
  animation: callback 1.5s linear 0s infinite;
  background-color: transparent;
  border: 2px solid #339900;
  border-radius: 100% !important;
  bottom: 18px;
  box-sizing: border-box;
  height: 100px;
  opacity: 0.01;
  position: absolute;
  right: -28px;
  width: 100px;
  z-index: 1;
}
.price-old{
  font-size: 12px;
  opacity: 0.5;
  text-decoration: line-through;
}
.product-title{
  h1{
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
    margin-bottom: 30px;
    &:before{
      display: none;
    }
  }
}
.price-wrapper{
  margin-bottom: 30px;
  .price{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    margin-right: 15px;
    display: inline-block;
  }
  .price-old{
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.89;
    letter-spacing: normal;
    text-align: center;
    color: #808080;
  }
}
.description_wrapper_mini{
  margin-bottom: 30px;
}
.copyContainer{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
  opacity: 0.8;
}
.description_wrapper{
  margin-bottom: 60px;
}
.option-wrapper .form-group{
  position: relative;
  .text-danger{
    position: absolute;
    width: 100%;
    display: block;
    position: absolute;
    bottom: -15px;
  }
}
.option-wrapper{
  //margin-top: 57px;
  .opt_wrapp,
  .form-group{
    display: flex;
  }
  .form-group{
    margin-bottom: 45px;
  }
  .control-label{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.opt_wrapp.size_opt label {
  min-width: 70px;
  //height: 30px;
  background-color: transparent;
  font-size: 14px;
  text-align: center;
  color: #1a1a1a;
  opacity: 0.8;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}
.product-page .radio input {
  display: none;
}
.product-page .radio{
  margin: 0 20px 0 0;
}
.radio-image{
  label{
    min-width: 40px!important;
    width: 40px!important;
    height: 40px!important;
    border-radius: 50%;
    border: solid 1px #e6e6e6!important;
    overflow: hidden;
    img{
      width: 100%;
      padding: 0;
      border-radius: 50%;
    }
  }
}
.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
  border: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}
.nav-tabs > li > a{
  color: #808080;
  padding: 10px 0 20px;
}
.article-tabs{
  margin-bottom: 30px;
  li{
    &:first-child{
      margin-left: 0;
    }
  }
}
.nav-tabs > li.active{
  &:before{
    transform: translateX(0);
  }
}
.nav-tabs{
  border: 0;
}
.product-page{
  .zoo-item,
  .item{
    background-color: #f5f6f8;
    img{
      width: 100%;
    }
  }
}

.thumbnails{
  margin-bottom: 30px;
  //.item{
  //  img{
  //    padding: 54px 0;
  //  }
  //}
}
.thumbnails-mini{
  margin-bottom: 60px;
  .item{
    //padding: 11px 0;
    margin-right: 30px;
    background-color: #f5f6f8;

  }

  .slick-list{
    padding: 0!important;
  }
}
.icon_wrapp{
  //display: none;
  display: flex;
  background-color: #fff;
  position: absolute;
  top: 5px;
  width: 100%;
  transform: translateX(-102%);
  transition: transform .8s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  z-index: 9;
  .share_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: solid 1px #339900;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    a{
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
}

.share_wrapp{
  float: right;
  overflow: hidden;
  position: relative;
  .text{
    padding: 5px 0;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #339900;
    cursor: pointer;
    i{
      display: block;
      width: 40px;
      height: 40px;
      border: solid 1px #339900;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      font-size: 20px;
      float: left;
      margin-right: 20px;
    }
  }
  &.active{
    .icon_wrapp{
      transform: translateX(0);
    }
  }
}
.short-btn{
  float: left;
  width: 263px;
}
.margin-option{
  margin-bottom: 94px!important;
}

.modal-content{
  h2{
    margin-bottom: 70px;
  }
}
#tab-review .reviewStars-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  margin-top: 16px;
}
#tab-review .reviewStars-input input {
  display: none;
}
#tab-review .reviewStars-input label {
  font-size: 10px;
  text-align: center;
  color: #808080;
  position: relative;
  margin: 0px;
  padding: 20px 5px 0px 5px;
  width: 70px;
  cursor: pointer;
}
#tab-review .reviewStars-input label:before {
  position: absolute;
  content: '\f006';
  font-family: FontAwesome;
  color: #666;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-size: 16px;
  line-height: normal;
}
#tab-review #form-review .text_write {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #1a1a1a;
}
.catalog-links{
  h3{
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    margin-bottom: 60px;
  }
}
.information-information{
  .wrapper-info{
    margin: 60px 0;
  }
  .about-company_wrapper{
    margin-bottom: 1px;
  }
}

.wrapper-banner_about{
  position: relative;
  border: 1px solid #fff;
  a{
    position: relative;
    display: block;
    padding: 0 1px;
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(0,0,0, 0.5);
    }
  }
  p{
    padding: 0 60px;
    position: absolute;
    z-index: 2;
    @include t-y;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

}
.service-category{
  margin-bottom: 60px;
  .news-block{
    background-color: #f5f6f8;
    margin-bottom: 30px;
    .position-date{
      padding: 35px 32px;
      border-bottom: 1px solid  #e6e6e6;
      margin-bottom: 0px;
      img{
        width: 100%;
      }
      a{
        &:before{
          display: none;
        }
      }

    }
    .container-name{
      display: flex;
      min-height: 132px;
      align-items: center;
      justify-content: center;
      padding: 0 30px;
      p{
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}
.alert-info{
  margin: 20px 0;
}
.viewed-product{
  border-top: solid 1px #e6e6e6;
  padding: 60px 0;
  .products_row-btn{
    top: -23%;
    transform: translate(0, 23%);
    i{
      &:before{
        color: #1a1a1a;
      }
    }
  }
  .products_row-prev_btn {
    left: 20%;
    transform: translate(0, 23%) rotate(-180deg);
  }
  h2{
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
    margin-bottom: 60px;
    &:before{
      display: none;
    }
  }
}
.description_wrapper_mini,
#tab-description{
  p{
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #282828;
  }
}
#tab-review .reviewStars-input input:checked + label {
  color: #349f08;
}

#tab-review .reviewStars-input input:checked ~ label::before {
  color: #349f08;
}
.gallery-category{
  .news-block{
    margin-bottom: 30px;
    .position-date{
      margin-bottom: 0;
      a{
        display: block;
        margin-bottom: 30px;
      }
    }
  }
  .position-date{
    margin-bottom: 0;
    a{
      display: block;
      margin-bottom: 30px;
    }
  }
}
.click-triger-zoom{
  position: absolute;
}
#popup-purchase-wrapper .opt_wrapp.size_opt input:checked + label,
.product-page .opt_wrapp.size_opt input:checked + label{
  border: 1px solid #339900!important;
}
.viewed-product{
  .product-thumb .image{
    margin: 16px 0;
  }
  .slick-list.draggable{
    padding: 0 100px!important;
  }
  .product-layout{
    margin-bottom: 0;
  }
}
.contact-wrapper,
.gallery-category{
  &:before {
    content: '';
    background-image: url("/image/catalog/bitmap_3.png");
    width: 315px;
    height: 253px;
    background-position: bottom left;
    background-repeat: no-repeat;
    position: absolute;
    left: -30%;
    bottom: 22px;
  }
  &:after {
    content: '';
    background-image: url("/image/catalog/bitmap_2.png");
    width: 100%;
    height: 180px;
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    right: -11%;
    top: 0;
  }
}
.wrapper-image_article{
  margin-bottom: 30px;
  a{
    position: relative;
    display: block;
    &:before{
      content: '';
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
    }
    h1{
      position: absolute;
      font-size: 36px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      top: 60px;
      left:60px;
      z-index: 2;
      &:before {
        content: '';
        display: block;
        background-color: #339900;
        width: 45px;
        height: 1px;
        position: absolute;
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
.article-description{
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
  opacity: 0.8;
  margin-bottom: 70px;
}
.news-article{
  .share_wrapp{
    float: left;
    margin-bottom: 69px;
  }
}
.news-article{
  .viewed-product{
    margin-bottom: 0;
  }
}
.viewed-news{
  .news-block{
    margin-bottom: 0;
    img{
      width: 100%;
    }
  }
}
.slider-image-big-curier{
  position: relative;
}
.click-triger-zoom{
  background-color: transparent;
  border: 0;
  position: absolute;
  bottom: 0;
  right: 0px;
  font-size: 20px;
  z-index: 99999;
}
.map {
  width: 100%;
  min-height: 400px;
  margin-bottom: 60px;
}
.info-shop{
  background-color: #f5f6f8;
  padding: 30px;
  i{
    font-size: 20px;
    margin-right: 20px;
  }
  .telephone-wrapp a,
  .telephone-wrapp{
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
    margin-right: 30px;
  }
  address{
    span{
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: #1a1a1a;
    }
  }
}
.contact-mail{
  text-align: center;
  margin-bottom: 90px;
  p{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #808080;
    margin-bottom: 30px;
  }
  a{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #339900;
    margin-right: 30px;
  }
}
.error-wrapper{
  position: relative;
  height: 100vh;
  overflow: hidden;
  //background-image: url("/catalog/view/image/img-2386.png");
  width: 100%;
  //background-repeat: no-repeat;
  //background-position: center center;
  .error-img{
    width: 100%;
    height: 100%;
  }
  .text-error{
    display: block;
    padding: 50px;
    margin: 0 auto;
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    border: 5px solid #fff;
    border-image: url(/catalog/view/theme/default/image/lines.png) 5 stretch;
    background-origin: border-box;
    //border-style: solid;
    //border-width: 5px;
    //border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff), linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
    //border-image-slice: 1;
    img{
      position: absolute;
      right: 147px;
      top: -105px;
    }
    p{
      font-size: 288px;
      font-family: $main_font_bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      line-height: 288px;
      position: relative;
      span{
        position: absolute;
        right: 75px;
        top: 45%;
        transform: translate(0, -50%);
        font-size: 20px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
      }
    }
    .buttons{
      position: absolute;
      bottom: -35px;
      left: 0;
      right: 0;
      display: block;
      margin: 0 auto;
    }
    .btn-primary{
      width: 240px;
      height: 60px;
      border-radius: 35px;
      background-color: #339900;
      border: 0;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      display: flex;
      color: #fff;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      font-size: 17px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-decoration: none;
      overflow: hidden;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
    }
  }
}
.btn-write,
.btn-call{
  display: none;
  span{
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
.btn-write.open:hover,
.btn-call.open:hover{
  width: 162px;
  height: 45px;
  border-radius: 30px;
  background-color: #339900;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  span{
    display: block;
    visibility: visible;
    opacity: 1;
    margin-right: 10px;
  }
}
.btn-write.open,
.btn-call.open{
  display: flex;
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  padding: 0 12px;
  border-radius: 50%;
  background-color: #339900;
  border-color: #339900;
  align-items: center;
  justify-content: space-between;
  &:focus{
    color: #282828;
    border-color: #fff;
    background-color: #fff;
    background-image: none;
  }
}

.btn-write.open{
  bottom: 130px;
}
.btn-call.open{
  bottom: 75px;
}
.btn-callphone{
  position: relative;
  z-index: 99;
  &:focus{
    background-color: #fff;
    color: #282828;
    border-color: #fff;
    background-image: none;
  }
}
@keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-webkit-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@-moz-keyframes callback {
  0% {
    opacity: 0.8;
    transform: rotate(0deg) scale(0.46) skew(1deg);
  }
  10% {
    transform: rotate(0deg) scale(0.56) skew(1deg);
  }
  100% {
    opacity: 0.01;
    transform: rotate(0deg) scale(1) skew(1deg);
  }
}

@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes callback_anim {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}