@media screen and (max-width: 1366px) {
  .about-company_wrapper{
    &:before{
      left: 1.5%;
    }
    .text{
      position: relative;
      z-index: 2;
    }
  }
  .error-wrapper .text-error img{
    right: 76px;
  }
  .error-wrapper .text-error p{
    font-size: 200px;
    span{
      right: 0;
    }
  }
}
@media screen and (max-width: 1199px) {
  .phone-wrapper_bg{
    background-color: #f5f6f8;
    height: 52px;
    .phone{
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .text{
    img{
      width: 100%;
    }
  }
  #logo{
    padding: 0 125px;
  }
}
@media screen and (max-width: 1024px) {
  .footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4d4d4d;
    &.info-shops{
      display: block;
      border-bottom: 0;
    }
  }
  .wrapper-info .info-items{
    justify-content: center;
  }

}
@media screen and (max-width: 991px) {
  .text{
    ul{
      padding-top: 0;
      flex-direction: row;
      justify-content: center;
      li{
        margin: 0 0 20px 20px;
        &:last-child{
          margin-bottom: 20px;
        }
        &:first-child{
          margin-left: 0px;
        }
      }
      &:before{
        display: none;
      }
    }
    p{
      text-align: center;
    }
    a{
      text-align: center;
      justify-content: center;
    }
  }
  .wrapper-banner_about{
    a{
      img{
        width: 100%;
      }
    }
  }
  .navbar-toggle{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 0;
    i{
      color: #339900;
      font-size: 25px;
    }
  }
  .navbar-header{
    width: 100%;
    float: none;
  }
  .navbar-collapse.collapse{
    display: none!important;
  }
  .navbar-collapse.in{
    display: block!important;
  }
  .about-company_wrapper{
    &:after,
    &:before{
      display: none;
    }
  }

  .container-product{
    &:after,
    &:before{
      display: none;
    }
  }

  .wrapper-info{
    .products_row-btn{
      top: 50%;
      transform: translate(0, -50%);
    }
    .products_row-prev_btn{
      left: 0;
      transform: translate(0, -62%) rotate(-180deg);
      z-index: 9;
    }
    .products_row-next_btn{
      right: 0;
    }
    .info-items{
      flex-direction: column;
      align-items: center;
      .text-info{
        text-align: center;
        p,
        h3{
          text-align: center;
        }
      }
    }
  }
  .navbar-nav{
    flex-direction: column;
    justify-content: center;
  }
  .wrapper_big-slider{
    .item{
      height: 350px;
      img{
        height: 100%;
      }
    }
  }
  #category{
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #1a1a1a;
  }
  .category-block ul li a{
    text-align: center;
  }
  .category-slider{
    .item{
      img{
        width: 100%;
      }
    }
  }
  .product-thumb{
    .image{
      img{
        width: 100%;
      }
    }
  }
  .select2-container .select2-selection--single,
  .select2-container{
    width: 100%!important;
    min-width: 100%!important;
  }
  #mfilter-opts-price-min,
  #mfilter-opts-price-max{
    width: 90px;
    min-width: 90px;
    max-width: 90px;
  }
  .menu-black{
    height: 100%;
    .active-menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      li{
        padding: 10px 15px;
      }
    }
    .wrapper-language{
      width: 100%;
      float: none;
      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
  .wrapper-category_img:before{
    width: 100%;
  }
  .wrapper-info .info-items{
    border: 0;
  }
  .container-product{
    .slick-list.draggable{
      padding: 0!important;
      padding-right: 88px!important;
    }
  }
  .viewed-product{
    .slick-list.draggable{
      padding: 0 30px!important;
    }
  }
}
@media screen and (max-width: 768px) {
  .margin-option{
    margin-bottom: 20px!important;
  }
  .item-btn_wrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    .short-btn{
      margin: 0;
      margin-bottom: 20px;
    }
    .share_wrapp{
      float: left;
    }
  }
  #logo{
    padding: 0 15px;
  }
  .image-items{
    display: none;
  }
  .category-page .mfilter-content {
    display: none;
  }
  .box-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    i{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      color: #339900;
    }
  }
  .footer-title{
    display: flex;
  }
  .phone-wrapper_bg{
    height: 102px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      transform: translate(0, -50%);
      background-color: #e6e6e6;
    }
  }

}
@media screen and (max-width: 767px){
  .footer-title{
    margin: 15px 0;
    text-align: center;
    justify-content: center;
    position: relative;
    i{
      color: #339900;
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  #input-search{
    margin-bottom: 20px;
  }
  footer .list-unstyled li a{
    text-align: center;
  }
  footer .list-unstyled {
    display: none;
  }
  .parent-elements{
    hr{
      display: none;
    }
  }
  footer p{
    text-align: center;
  }
  footer .text-right a{
    text-align: center;
    display: block;
    img{
      margin: 0 auto;
    }
  }
  .error-wrapper .text-error{
    border: 0;
    width: 80%;
    img{
      width: 100%;
      top: 30%;
      transform: translate(0, -30%);
      right: 0;
      left: 0;
    }
    p{
      text-align: center;
      font-size: 55px;
      span{
        display: none;
      }
    }
    .buttons{
      bottom: 0;
    }
  }
  .footer-info.info-shops{
    & + hr{
      display: none;
    }
  }
  .navbar-nav,
  .nav > li{
    margin: 0;
  }
}
@media screen and (max-width: 580px) {
  .footer-info{
    flex-direction: column;
    padding-bottom: 20px;
  }

  h1,
  h2,
  .wrapper-info,
  .big-slider,
  .wrapper-news,
  .wrapper-category_home,
  .common-home .product-layout,
  .container-product{
    margin-bottom: 40px;
  }
  .container-product{
    padding-bottom: 40px;
  }
  h1,
  h2,{
    font-size: 24px;
  }
  h1:before, h2:before{
    bottom: -30px;
  }
  .galery-block{
    padding-top: 40px;
  }
  .products_row-btn{
    top: -50%;
    //transform: translate(0, 50%);
  }
  .wrapper-news.galery-block{
    margin-bottom: 0;
  }
  .phone span{
    font-size: 11px;
  }
  .phone{
    margin: 0 -5px;
  }
  .phone a{
    font-size: 10px;
  }
  .wrapper_big-slider{
    .item{
      height: 250px;
      img{
        height: 100%;
      }
      .text-info{
        .banner_title{
          margin-bottom: 20px;
          h2{
            font-size: 24px;
            line-height: 24px;
            //&:before{
            //  bottom: 0;
            //}
          }
          p{
            font-size: 18px;
          }
        }
      }
    }
  }
  .wrapper-category_img{
    min-height: auto;
    padding: 20px 60px;
    h1{
      font-size: 24px;
    }
    &:before{
      display: none;
    }
  }
  .products_row-prev_btn{
    left: 0;
  }
  .products_row-next_btn{
    right: 0%;
  }
  .opt_wrapp.size_opt label{
    min-width: 60px;
  }
  .option-wrapper .control-label{
    margin-right: 15px;
    font-size: 14px;
  }
  .modal-dialog .modal-content{
    padding: 30px 10px;
  }
  .modal-content h2{
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 375px) {
  .col-xxs-12 {
    width: 100%;
  }
}
